.type_background {
    width: 170px;
    height: 290px;
    position: absolute;
    margin-left: 120px;
    background-color: lightgray;
    border-radius: 10px;
}

.type_name {
    width: 75%;
    position: relative;
    margin-left: 160px;
}