.bike_container {
    background-color: lightgray;
    padding: 10px;
    margin-bottom: 200px;
    width: 300px;
    height: 410px;
}

.bike_title {
    width: 75%;
    font-size: 23px;
}

.bike_image {
    width: 300px;
    height: 260px;
}

.bike_image:hover {
    animation-name: scale_in;
    animation-duration: 1.5s;
    animation-timing-function: ease;
}

@keyframes scale_in {
    from {
        scale: 1;
    }
    to {
        scale: 1.3;
    }
}